
html {
    scrollbar-width: none;
}

body {
    margin: 0;
}

hr {
    margin-top: 0;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

div#mode-indicator {
    display: inline-block;
    font-weight: bold;
    width: 1%;
}

table#result-list {
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 100%;
}

table#result-list tr {
    display: block;
    border-radius: 0.15em;
    width: 100%;
    /*offset when scrolling at the top*/
    scroll-margin-top:2.2em;
}

table#result-list td:nth-child(1) {
    padding-top: 1%;
    width: 100%;
}

table#result-list td:nth-child(1) ~ td {
    display: none;
}

form#find-form {
    /* keeps the input field at the top
    higher z-index => drawn on top of the rest*/
    position: sticky;
    top:0;
    z-index:2;
}

div#form {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

input#find-input {
    border: none;
    width: 98%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
 }
